<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.electronic.dao.smapper.interfaces.SysMenuMapper">-->
<!--  <resultMap id="BaseResultMap" type="com.electronic.dao.smapper.bo.SysMenuRoles">-->
<!--    <result column="permission_id" jdbcType="INTEGER" property="permissionId" />-->
<!--    <result column="role_id" jdbcType="VARCHAR" property="roleId" />-->
<!--    <result column="role_name" jdbcType="VARCHAR" property="roleName" />-->
<!--  </resultMap>-->

<!--&lt;!&ndash;获取系统菜单角色信息&ndash;&gt;-->
<!--  <select id="selectSysMenuRoles"  resultMap="BaseResultMap">-->
<!--   SELECT-->
<!--	t.permission_id,-->
<!--	GROUP_CONCAT( DISTINCT t.role_id SEPARATOR ',' ) AS role_id,-->
<!--	GROUP_CONCAT( DISTINCT t.role_name SEPARATOR ',' ) AS role_name-->
<!--FROM-->
<!--	(-->
<!--	SELECT-->
<!--		t2.*,-->
<!--		t1.role_name,-->
<!--		t1.role_parent_id-->
<!--	FROM-->
<!--		sys_role_permission t2-->
<!--		LEFT JOIN sys_roles t1 ON t2.role_id = t1.role_id-->
<!--	) t-->
<!--GROUP BY-->
<!--	t.permission_id-->
<!--  </select>-->

<!--</mapper>-->