<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.electronic.dao.mapper.interfaces.SysUserRolesMapper">
  <!--<resultMap id="BaseResultMap" type="com.electronic.dao.mapper.bo.SysUserRoles">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>-->

</mapper>